<link href="https://cms.admin.containerize.com/templates/aspose/css/licensing.css" rel="stylesheet" type="text/css">
<link href="https://cms.admin.containerize.com/templates/aspose/css/TabContainer.css" rel="stylesheet" type="text/css">
<link href="https://cms.admin.containerize.com/templates/aspose/css/tooltip.css" rel="stylesheet" type="text/css">
<table class="cloudtablesmall" cellspacing="0" cellpadding="0"><tbody><tr style="height: 31px;"><th style="height: 31px;">Description</th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/exporters-license-types#DeveloperSmallBusiness" rel="alternate">Developer Small Business License</a></span></th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/exporters-license-types#DeveloperOEM" rel="alternate">Developer OEM License</a></span></th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/exporters-license-types#SiteSmallBusiness" rel="alternate">Site Small Business License</a></span></th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/exporters-license-types#SiteOEM" rel="alternate">Site OEM License</a></span></th>
</tr><tr style="height: 21px;"><td style="height: 21px;">
<div>
<div id="content">
<p style="display: inline;">Developers licensed</p>
<div class="help-tip" style="display: inline-block; z-index: 15;">
<p><b>Developer:</b> a Developer might be a software developer, a systems administrator, report author or any other person who uses the product. Each developer working with Aspose products needs to be licensed.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;"><strong>1</strong></td>
<td style="text-align: center;"><strong>1</strong></td>
<td style="text-align: center;"><strong>10&nbsp;</strong></td>
<td style="text-align: center;"><strong>10&nbsp;</strong></td>
</tr><tr style="height: 21.0556px;"><td style="height: 21.0556px;">
<div>
<div id="content" style="margin: 0px -40px 0px 0px;">
<p style="display: inline;">Use end user software at locations</p>
<div class="help-tip" style="display: inline-block; z-index: 14;">
<p><b>Location:</b> A Location refers to virtual or physical servers. One Location means one server in one physical location. within or outside an organization.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;"><strong>1</strong></td>
<td style="text-align: center;"><strong>∞</strong></td>
<td style="text-align: center;"><strong>10</strong></td>
<td style="text-align: center;"><strong>∞</strong></td>
</tr><tr style="height: 21px;"><td style="height: 21px;">
<div>
<div id="content">
<p style="display: inline;">Deploy to unlimited servers</p>
<div class="help-tip" style="display: inline-block; z-index: 13;">
<p>Allows distribution of end user software to an unlimited number of physical or virtual servers in an unlimited number of physical locations (distinct address or office building).<br><br><b>End User Software:</b> a software program, site, report builder or any other solution, work or product that incorporates or links to Aspose products.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
</tr><tr style="height: 21px;"><td style="height: 21px;">
<div>
<div id="content">
<p style="display: inline;">Can be used to create unlimited applications</p>
<div class="help-tip" style="display: inline-block; z-index: 12;">
<p>Allows an unlimited number of derived works using the product.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
</tr><tr style="height: 21px;"><td style="height: 21px;">
<div>
<div id="content">
<p style="display: inline;">Discount applied to multiple purchases</p>
<div class="help-tip" style="display: inline-block; z-index: 11;">
<p>Purchase multiple licenses and receive a discount. <a href="/order-online-step-1-of-8.aspx">Get a quote</a><br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">&nbsp;<img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;">&nbsp;<img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
</tr><tr style="height: 21px;"><td style="height: 21px;">
<div>
<div id="content" style="margin: 0px -40px 0px 0px;">
<p style="display: inline;">Updates and hotfixes for one year</p>
<div class="help-tip" style="display: inline-block; z-index: 10;">
<p>A purchase includes a subscription which entitles you to one year of product updates. <br><br>When the year has passed you are still licensed to use to the product so your existing applications that use Aspose will continue to function but to download and use further updates to the product you first have to renew your subscription. <a href="/policies/subscriptions">Learn more</a><br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
</tr><tr style="height: 21px;"><td style="height: 21px;">
<div>
<div id="content">
<p style="display: inline;">Free technical support</p>
<div class="help-tip" style="display: inline-block; z-index: 9;">
<p>Recieve free technical support before purchase or even if your maintenance subscription has expired. <br><br> Note that free support included with a license is different from paid support which is an optional additional purchase. Check out the <a href="https://helpdesk.aspose.com/kb/faq.php?id=1">paid support options</a><br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
<td style="text-align: center;"><img src="https://cms.admin.containerize.com/templates/aspose/img/check-green.png" alt="" class="lazyloaded "></td>
</tr></tbody></table>